<div id="plotly-chart" style="width: 100%; height: 300px;"></div>

@code {
    [Parameter] public List<double> YValues { get; set; } = new();
    [Parameter] public List<double>? XValues { get; set; }
    [Parameter] public string Label { get; set; } = "Signal";

    [Inject] IJSRuntime JS { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var x = XValues ?? Enumerable.Range(0, YValues.Count).Select(i => (double)i).ToList();

        await JS.InvokeVoidAsync("renderPlot", x, YValues, Label);
    }
}
