@using Microsoft.AspNetCore.Components.Web

<div style="position:absolute; 
            left:@(X)px; 
            top:@(Y)px; 
            width:100px; 
            height:100px; 
            background-color:#4a90e2; 
            color:white; 
            display:flex; 
            align-items:center; 
            justify-content:center; 
            border-radius:8px; 
            cursor:grab;"
     @onmousedown="OnMouseDown">
    Box @Id
</div>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public double X { get; set; }
    [Parameter] public double Y { get; set; }

    [Parameter] public EventCallback<(int Id, MouseEventArgs e)> OnStartDrag { get; set; }

    private async Task OnMouseDown(MouseEventArgs e)
    {
        await OnStartDrag.InvokeAsync((Id, e));
    }
}
