@using Entwin.Client.Services
@using Entwin.Client.Components.Authorization
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <UserHeader />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (showLoginModal)
{
    <LoginModal OnLoginSuccess="HandleLoginSuccess" />
}

@code {
    [Inject] private LoginModalService LoginModalService { get; set; } = default!;

    private bool showLoginModal = false;

    protected override void OnInitialized()
    {
        LoginModalService.LoginRequested += () => InvokeAsync(ShowModal);
    }


    private async Task ShowModal()
    {
        showLoginModal = true;
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleLoginSuccess()
    {
        showLoginModal = false;

        if (LoginModalService.DeferredAction is not null)
        {
            var action = LoginModalService.DeferredAction;
            LoginModalService.Clear();
            await action.Invoke();
        }
    }
}