@page "/objects"
@using Entwin.Client.Data
@inject ObjectTableStateService ObjectTableState

<div class="row">
    <div class="col">
        <RigObjectTable Items="Items" />
    </div>
    <div class="col">
        <ObjectParameterTable Items="Parameters" />
    </div>
</div>

@code {
    public IEnumerable<RigObject>? Items => ObjectTableState.GetObjects();
    public IEnumerable<ObjectParameter>? Parameters => ObjectTableState.GetParameters();
    
}
